body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  /* background-color: rgb(59, 116, 163); */
}

#ai-recommendations {
  display: flex;
  position: relative;
  border: solid red 1px;
  width: 100%;
  background-color: purple;
}

#bot-text-box {
  display: absolute;
  border: solid blue 1px;
  width: fit-content;

}

#bot-text {
  font: 1rem;
  color: black;
}

#user-text-box {
  display: absolute;
  border: solid black 1px;
  width: fit-content;
}

#bot-text {
  font: 1rem;
  color: black;
}
